.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}
%align-list {
    display: flex;
    align-items: center;
}
%animation {transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}