:root {
    --title-text-color: #212121;
    --common-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --main-color: #e5e5e5;
    --home-color: #2f303a;
    --contakt-color: #757575;
    --fon-color: #f5f4fa;
    --icon-color: #AFB1B8;
    --card-set-gap: 30px;
}
